* {
  font-family: 'Lato';
}

body {
  background-color: #F3F4F7;
}

h1, h2, h3, h4{
  font-weight: bold;
}

.content {
  margin-top: 85px;
}

.content-main {
  margin: 20px;
  background-color: #ffffff;
}

.btn-lato {
  font-family: 'Lato';
}
